* {
  box-sizing: border-box;
}

body {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
max-width: 800px;
max-height: 800px;
width: 100vmin;
height: 100vmin;
}

.container {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.cell {
  position: relative;
  display: inline-block;
  background: #000;
  width: 12.5%;
  height: 100%;
  z-index: 1;
}

.row {
  display: inline-block;
  font-size: 0;
  width: 100%;
  height: 12.5%;
}

.row:nth-child(odd) .cell:nth-child(even),
.row:nth-child(even) .cell:nth-child(odd) {
  background: white;
}

.item-first-team {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background: #ff2525;
  z-index: 2;
}

.item-second-team {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background: #636eff;
  z-index: 2;
}
.inside-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

.item-first-team:nth-child(1) {
  position: absolute;
  top: calc(6.5% - 2.5%);
  left: calc(6.5% - 2.5%);
}

.item-first-team:nth-child(2) {
  position: absolute;
  top: calc(6.5% - 2.5%);
  left: calc(31.5% - 2.5%);
}

.item-first-team:nth-child(3) {
  position: absolute;
  top: calc(6.5% - 2.5%);
  left: calc(56.5% - 2.5%);
}

.item-first-team:nth-child(4) {
  position: absolute;
  top: calc(6.5% - 2.5%);
  left: calc(81.5% - 2.5%);
}

.item-first-team:nth-child(5) {
  position: absolute;
  top: calc(19% - 2.5%);
  left: calc(19% - 2.5%);
}

.item-first-team:nth-child(6) {
  position: absolute;
  top: calc(19% - 2.5%);
  left: calc(44% - 2.5%);
}

.item-first-team:nth-child(7) {
  position: absolute;
  top: calc(19% - 2.5%);
  left: calc(69% - 2.5%);
}

.item-first-team:nth-child(8) {
  position: absolute;
  top: calc(19% - 2.5%);
  left: calc(94% - 2.5%);
}

.item-first-team:nth-child(9) {
  position: absolute;
  top: calc(31.5% - 2.5%);
  left: calc(6.5% - 2.5%);
}

.item-first-team:nth-child(10) {
  position: absolute;
  top: calc(31.5% - 2.5%);
  left: calc(31.5% - 2.5%);
}

.item-first-team:nth-child(11) {
  position: absolute;
  top: calc(31.5% - 2.5%);
  left: calc(56.5% - 2.5%);
}

.item-first-team:nth-child(12) {
  position: absolute;
  top: calc(31.5% - 2.5%);
  left: calc(81.5% - 2.5%);
}

.item-second-team:nth-child(1) {
  position: absolute;
  bottom: calc(31.5% - 2.5%);
  left: calc(19% - 2.5%);
}

.item-second-team:nth-child(2) {
  position: absolute;
  bottom: calc(31.5% - 2.5%);
  left: calc(44% - 2.5%);
}

.item-second-team:nth-child(3) {
  position: absolute;
  bottom: calc(31.5% - 2.5%);
  left: calc(69% - 2.5%);
}

.item-second-team:nth-child(4) {
  position: absolute;
  bottom: calc(31.5% - 2.5%);
  left: calc(94% - 2.5%);
}

.item-second-team:nth-child(5) {
  position: absolute;
  bottom: calc(19% - 2.5%);
  left: calc(6.5% - 2.5%);
}

.item-second-team:nth-child(6) {
  position: absolute;
  bottom: calc(19% - 2.5%);
  left: calc(31.5% - 2.5%);
}

.item-second-team:nth-child(7) {
  position: absolute;
  bottom: calc(19% - 2.5%);
  left: calc(56.5% - 2.5%);
}

.item-second-team:nth-child(8) {
  position: absolute;
  bottom: calc(19% - 2.5%);
  left: calc(81.5% - 2.5%);
}

.item-second-team:nth-child(9) {
  position: absolute;
  bottom: calc(6.5% - 2.5%);
  left: calc(19% - 2.5%);
}

.item-second-team:nth-child(10) {
  position: absolute;
  bottom: calc(6.5% - 2.5%);
  left: calc(44% - 2.5%);
}

.item-second-team:nth-child(11) {
  position: absolute;
  bottom: calc(6.5% - 2.5%);
  left: calc(69% - 2.5%);
}

.item-second-team:nth-child(12) {
  position: absolute;
  bottom: calc(6.5% - 2.5%);
  left: calc(94% - 2.5%);
}
